---
layout: page
title: Photos
permalink: /photos/
---

<style>
    .image-gallery {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }
    .image-gallery img {
        width: 100%;
    }
</style>

<p class="image-gallery">
    {% for file in site.static_files %}
        {% if file.path contains "assets/sheep" %}
            {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' %}
                {% assign filenameparts = file.path | split: "/" %}
                {% assign filename = filenameparts | last | replace: file.extname,"" %}
                    <img src="{{ file.path }}" alt="{{ filename }}" title="{{ filename }}" />
            {% endif %}
        {% endif %}
    {% endfor %}
</p>